
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

XTerm*renderFont: true
XTerm*faceName: xft:Mononoki Nerd Font
XTerm*faceSize: 12
XTerm*utf8: 2
XTerm*locale: true

XTerm.vt100.translations: #override \n\
  Ctrl <Key> j: smaller-vt-font() \n\
  Ctrl <Key> k: larger-vt-font()


! Every shell is a login shell by default (for inclusion of all necessary environment variables)
XTerm*loginshell: true

! I like a LOT of scrollback...
XTerm*savelines: 16384

! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

URxvt*imLocale: en_US.UTF-8
URxvt*termName: xterm-256color
Urxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font: xft:gomono Nerd Font:size=10, \
            xft:mplus Nerd Font Mono:size=14, \
            xft:monoki Nerd Font:size=10, \
            xft:gohu Nerd Font:size=11, \
            xft:FuraMono Nerd Font:size=11, \
            xft:RobotoMono Nerd Font:size=11 
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.cursorColor: white
URxvt.internalBorder : 15
URxvt.geometry : 74x17

!! Extensions
URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select,clipboard
URxvt.colorUL: #4682B4
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller: C-j
URxvt.resize-font.bigger:  C-k
!! Matcher
URxvt.url-launcher:	urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.matcher.button: 1
!!clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.depth: 32


! Colores
!----------------------------------------------------------------------
!#include ".config/termcolours/solarized"
#include ".cache/wal/colors.Xresources"

