.putih {
	background-color: rgba(207, 123, 74, 0.788);
}
.hijau {
	background-color: #50FA7B;
}
.merah {
	background-color: #FF5555;
}
.pink {
	background-color: #F663B7
}
.kuning {
	background-color : #F6F868;
}
.ungu {
	background-color :#AD74FF;
}
.violet {
	background-color: #5B79D3;
}
.hijau-muda {
	background-color : #25E98C;
}
.coklat {
	background-color : #E4793C;
}
.biru {
	background-color : #8BE9FD;
}
body {
	background-color: #292D3E;
	font-family: PragmataPro;
	color: #D9D9E5;
}
.container-1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
.container-2 {
	display: flex;
	position: fixed;
  top: 8%;
  flex-wrap: wrap;
  left: 50%;
  
}
header {
	text-align: center;
}
  .search-bar {
	  margin-top: 1rem;
	  height: 3rem;
	  width: 40rem;
	 text-align: center;
	 border: 0;
     color:  #D9D9E5;
     border-radius: 12px;
	 font-size: 1rem;
     background-color: #2F3345;
  }
  .clock {
      text-align: center;
	  font-size: 7rem;
  }
  #date {
	  text-align: center;
	  font-size: 1rem;
	  margin-top: -15px;
  }
  .box {
	width: 14rem;
	height: 14rem;
	margin: 1rem;
	padding: 0;
	border-radius: 10px;
  }
  .box-img {
	  padding: 0;
	 text-align: center;
	  width: 8rem;
	  margin-top: 3rem;
	margin-left: 3rem;
  }
