@define-color foreground #ecc29a;
@define-color background #0a1124;
@define-color cursor #ecc29a;

@define-color color0 #0a1124;
@define-color color1 #63504E;
@define-color color2 #A33A4E;
@define-color color3 #EB3247;
@define-color color4 #F35743;
@define-color color5 #F6A73B;
@define-color color6 #F9D42E;
@define-color color7 #ecc29a;
@define-color color8 #a5876b;
@define-color color9 #63504E;
@define-color color10 #A33A4E;
@define-color color11 #EB3247;
@define-color color12 #F35743;
@define-color color13 #F6A73B;
@define-color color14 #F9D42E;
@define-color color15 #ecc29a;
