[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nako/Desktop/vim.png]
row=4
col=1

[/home/nako/Desktop/header.vim]
row=5
col=0

[/home/nako/Desktop/n.png]
row=3
col=1

[/home/nako/Desktop/s.png]
row=6
col=0

[/home/nako/Desktop/m.png]
row=1
col=1

[/home/nako/Desktop/mumu.png]
row=4
col=0

[/home/nako/Desktop/array.png]
row=0
col=1

[/home/nako/Desktop/co.png]
row=2
col=1

[5212a65d-d9c9-4ffb-ad35-4fa0ddbe1346]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/nako]
row=3
col=0

